internal.protocol: ipv4
internal: {{ ansible_default_ipv4.address }} port = 443
external.protocol: ipv4
external: {{ ansible_lo.device }}
logoutput: stderr
user.privileged: proxy
user.unprivileged: nobody
user.libwrap: nobody
socksmethod: none
clientmethod: none

debug: 0

socks pass {
	from: 0/0 to: 0.0.0.0/0
	#command: bind connect udpassociate
	log: connect disconnect #iooperation
}

client pass {
        from: 0/0 to: 0.0.0.0/0
	log: error # connect disconnect
}