k8s:
  hosts:
    master:
  children:
    k8s_nodes:
      hosts:
        node1:
        node2:
  vars:
    k8s_hosts:
      - ip: 192.168.0.20
        host: master
      - ip: 192.168.0.21
        host: node1
      - ip: 192.168.0.22
        host: node2
    domain: k8s