- apt:
    name: systemd-container
    state: present

- sysctl:
    name: kernel.unprivileged_userns_clone
    value: '1'
    state: present
    sysctl_file: /etc/sysctl.d/nspawn.conf
    reload: yes