- yum_repository:
    name: Kubernetes
    description: Kubernetes repository
    baseurl: "https://packages.cloud.google.com/yum/repos/kubernetes-el{{ ansible_distribution_major_version }}-x86_64"
    gpgcheck: yes
    repo_gpgcheck: yes
    gpgkey: https://packages.cloud.google.com/yum/doc/yum-key.gpg https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg
- yum:
    name: "{{ packages |join(',') }}"
    state: present
- import_tasks: common.yml
