: RSA /etc/letsencrypt/live/{{ domain_name }}/privkey.pem

{{ user_name }} : EAP "{{ user_pass }}"

# this file is managed with debconf and will contain the automatically created private key
include /var/lib/strongswan/ipsec.secrets.inc