: RSA /etc/letsencrypt/live/{{ vpn.domain_name }}/privkey.pem

: PSK "{{ vpn.shared_key }}"
{% for user in vpn.users %}{% for auth_type in user.types %}
{{ user.name }} : {{ auth_type }} "{{ user.password }}"
{% endfor %}{% endfor %}

# this file is managed with debconf and will contain the automatically created private key
include /var/lib/strongswan/ipsec.secrets.inc
