config setup
	plutostart=no
	uniqueids=never
	charonstart=yes
	charondebug="ike 1, knl 1, cfg 0"

conn %default
	auto=add
	rekey=no
	reauth=no
	fragmentation=yes

	# left - local (server) side
	left=%defaultroute
	leftcert=/etc/letsencrypt/live/{{ vpn.domain_name }}/cert.pem
	leftsendcert=always
	leftsubnet={{ vpn.networks|join(',') }}
	leftid={{ vpn.domain_name }}

	# right - remote (client) side
	eap_identity=%identity
	rightsourceip={{ vpn.pool }}
	rightsendcert=never
	rightdns=8.8.8.8,8.8.4.4

conn vpn-ikev2
	compress=yes
	keyexchange=ikev2
	rightauth=eap-mschapv2

conn vpn-ikev1
	keyexchange=ikev1
	rekeymargin=3m
	keyingtries=1

	leftauth=psk

	right=%any
	rightauth=psk
	rightauth2=xauth


include /var/lib/strongswan/ipsec.conf.inc
